.card{
  height: 950px;
  width: 340px;
  border: none;
}

img{
  height:650px;
  width:340px;
  margin-bottom: 10px;
  object-fit: cover;
}

.tittle{
  display: inline;
}

span{
  float: right;
  font-size: large;
}

button{
  margin-right: 2px;
}

.App{
  display:flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}